nav{
    background-color: black;
    color: snow;
    padding: 16px 0;
    width: 100%;
    transition: 0.5s ease;
    div{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    div > * {
        padding-right: 1rem;
    }
    
}
