nav{
    background-color: black;
    color: snow;
    padding: 20px;
    width: 100%;
    transition: 0.5s ease;
    div{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .left_nav{
        display: flex;
        align-items: center;
    }
    .right_nav{
        display: flex;
        align-items: center;
        p{
            margin-right: 20px;
        }
    }
}
.dark-theme{
    background-color: red;
    color: black;
}
.light-theme{
    background-color: black;
    color: snow;
}