.about_me{

    span{
        color: darkgray;
    }
    .me_{
        text-align: center;
        h1{
            font-size: 48px;
        }
    }
    .projects_card, .rezume_card{
        margin-top: 50px;
        width: 400px;
        height: 180px;
        background-color: transparent;
        border: 2px solid aqua;
        h1{
            font-size: 24px;
        }
        span{
            font-size: 18px;
        }

        button{
            display: block;
            padding: 8px 16px;
            border: 3px solid aquamarine;
            border-radius: 5px;
            margin-top: 15px;
        }

    }
}