.latesWorks{
    margin-top: 50px;
    background-color: #FAFAFA;
    padding: 100px 0;
    padding-bottom: 140px;
    .latesWorks_head{
        display: flex;
        justify-content: center;
        align-items: center;
        .line{
            width: 40%;
            height: 1px;
            background-color: gray;
        }
        span{
            margin: 0 10px;
            color: gray;
        }
    }
    .latesWorks_items{
        background-color: #FFF;
        padding: 10px;
        .desk{
            padding: 10px;
            p{
                font-size: 18px;
            }
            span{
                font-size: 16px;
            }
        }
    }
}