.aboutMe_content{
    .aboutMe_top{
        padding: 50px 20px;
        .aboutMe_top_left{
            h1{
                font-size: 102px;
                color: #333;
                margin-bottom: 8px;
                font-weight: 700;
            }
            p{
                font-size: 26px;
                color: #757575;
                margin-bottom: 24px;
            }
            span{
                font-size: 18px;
                color: #333;
                margin-bottom: 24px;
            }
        }
        .aboutMe_bottom{
            .items{
                border-radius: 50px;
            }
        }
    }
}