.MySkills{
    box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.1);
    background-color: #FAFAFA;
    padding: 6.6rem 3.3rem;
    .MySkills_content{
        h1{
            font-size: 36px;
            margin-bottom: 16px;
        }
    }
}