.theme{
    position: relative;
    width: 50px;
    height: 22px;
    background-color: gray;
    box-sizing: border-box;
    padding: 1px;
    border-radius: 20px;
    * {
        transition: 0.3s linear;
    }
    
    input[type="checkbox"]{
        z-index: 10;
        width: 50px;
        height: 16px;
        top: 8px;
        opacity: 0;
    }
    input[type="checkbox"], .theme-toggler{
        position: absolute;
    }
    .theme-toggler{
        z-index: 5;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: lightgray;
        
    }
    input[type="checkbox"]:checked ~ .theme-toggler {
        transform: translateX(30px);
    }
}

