.Portfolio_info_content{
    padding: 5.6rem 0 3rem 0;
    .Portfolio_content_left{
        h1{
            font-size: 102px;
            margin-bottom: 8px;
            font-weight: 800;
            color: #333;
        }
        p{
            font-size: 26px;
            margin-bottom: 24px;
            color: #757575;
            font-weight: 100;
        }
        span{
            font-size: 18px;
            font-weight: 100;
            color: #757575;
        }
    }
}