.Projects{
    box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.1);
    padding: 6.6rem 0;
    background-color: #FAFAFA;
    .Projects_content{
        ul{
            grid-auto-rows: 270px;
            li{
                width: 100%;
                background-color: #fff;
                padding: 8px;
                box-shadow: 0 1px 4px 0px rgba(0, 0, 0, 0.2); 
            }
        }
    }
}